@model Scheduler.DTO.Models.RoomDto
@using Scheduler.DataAccess.Models.Enums;

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="background m-5 p-5">
        <h2 class="mb-3">Create</h2>
        <hr>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoomNumberd" class="control-label"></label>
                <input asp-for="RoomNumberd" class="form-control" />
                <span asp-validation-for="RoomNumberd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress" class="control-label"></label>
                <input asp-for="Adress" class="form-control" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<RoomType>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <br>
            <div>
                <a asp-action="Index" class="btn btn-primary float-left">Back to List</a>
                <input type="submit" value="Save" class="btn btn-primary float-right" />
            </div>
            <br>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
